*log
venv/
__pycache__/

.idea/
.vscode/
civic_issue_backend/.venv/
frontend/apps/mobile/node_modules/ 
frontend/apps/mobile/ios/
frontend/apps/mobile/ios/Pods/
frontend/apps/web/.expo/
frontend/apps/web/.expo-shared/


frontend/apps/web/node_modules/
frontend/apps/web/public/